<h1>My Projects</h1>

<p>In this page I will be show you some projects made in Javascript, CCS, HTML and React</p>

<ul>
    <li>Weather app</li>
    <li>Ecommerce</li>
    <li>Music app</li>
    <li>Pokeapi</li>
</ul>