<h1>Get to know my projects</h1>

<ul>
    {{#each projects}}
        <li>
            <a href="/projects/{{this.id}}">
                {{this.name}}
            </a>
        </li>
    {{/each}}
</ul>
 

