<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>node-handlebars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  </head>
  <body>
   
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/aboutme">About me</a></li>
        <li><a href="/myportafolio">Portafolio</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </nav>
 
 {{{body}}}

 <h4>Developed by Luis Romero</h4>

  </body>
</html>